button {
    display: inline-block;
    padding: 10px 20px;
    background: var(--btn-color);
    color: var(--text-color-light);
    text-decoration: none;
    border-radius: 25px;
    border: none;
    font-weight: 600;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,
            transparent,
            var(--shades-cards),
            transparent);
    transition: all 0.4s ease;
}

button:hover::before {
    left: 100%;
}

button.light:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px var(--shades-buttons);
}
button.dark:hover {
    transform: translateY(-3px);
    box-shadow: 0 5px 15px var(--dark-shades-buttons);
}