.cats-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5em;
  }
  
  .multi-card-wrapper {
    display: flex;
    justify-content: center;
    gap: 1.875em;
    height: 100%;
  }
  
  .card-item {
    width: 300px;
    height: 500px;
    transition: transform 0.3s ease;
    display: inline-block;
    white-space: normal;
    margin: 1em 0;
  }
  
  .slider-nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--nav-color);
    border: none;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    font-size: 1.25em;
    text-align: center;
    cursor: pointer;
  }

  .hidden-button {
    opacity: 0;
    pointer-events: none; 
  }  

  
  .slider-indicators {
    display: flex;
    justify-content: center;
    margin-top: 0.938em;
    gap: 0.5em;
    padding: 1em 0;
  }
  
  .slider-dot {
    width: 0.625em;
    height: 0.625em;
    border-radius: 50%;
    background-color: var(--shades-cards);
    border: none;
    cursor: pointer;
    padding: 0;
    margin-top:2em;
  }
  
  .slider-dot.active {
    background-color: var(--card-title-color);
  }
  

  @media screen and (max-width: 767px) {
  .card-item {
    width: 250px;
    max-width: 350px;
    height: 450px;
  }

  .slider-indicators {
    padding:1em;
  }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-item {
    height: 550px;
    width: 350px;
  }

  .multi-card-wrapper {
    display: flex;
    justify-content: center;
    gap: 0.5em;
    height: 100%;
  }
}