.cats-slider {
    width: 100%;
    padding: 0.313em;
  }
  
  .slider-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .multi-card-wrapper {
    display: flex;
    justify-content: center;
    gap: 1.875em;
    width: 60%;
  }
  
  .card-item {
    flex: 0 0 calc(33.333% - 2.5em);
    min-width: 250px;
    max-width: 300px;
    transition: transform 0.3s ease;
    display: inline-block;
    white-space: normal;
    margin: 1em 0;
  }
  
  .slider-nav {
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--nav-color);
    border: none;
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    font-size: 1.25em;
    text-align: center;
    cursor: pointer;
    z-index: 2;
  }

  .hidden-button {
    opacity: 0;
    pointer-events: none; 
  }  

  
  .slider-indicators {
    display: flex;
    justify-content: center;
    margin-top: 0.938em;
    gap: 0.5em;
  }
  
  .slider-dot {
    width: 0.625em;
    height: 0.625em;
    border-radius: 50%;
    background-color: var(--shades-cards);
    border: none;
    cursor: pointer;
    padding: 0;
  }
  
  .slider-dot.active {
    background-color: var(--card-title-color);
  }
  
  
  /* @media (max-width: 900px) {
    .multi-card-wrapper {
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding: 10px 0;
      flex-wrap: nowrap;
      gap: 30px;
    }
    
    .card-item {
      flex: 0 0 calc(50% - 40px);
      scroll-snap-align: center;
      margin: 0 15px;
    }
  }
  
  @media (max-width: 600px) {
    .card-item {
      flex: 0 0 calc(100% - 40px);
      margin: 0 10px;
    }
    
    .multi-card-wrapper {
      flex-wrap: nowrap;
      gap: 20px;
    } 
  } */