footer {
    height:5vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2em 0 2em 0;
    margin-top: 5em;
    background-color: #f9a8d4;
  }