footer {
  height: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em 0 2em 0;
  margin-top: 5em;
  background-color: var(--footer-bg-color);
  position: fixed;
  bottom: 0;
  left: 0;
}


footer a {
  text-decoration: none;
  color: #9d174d;
}

footer a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}