.theme-toggle {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    position: absolute;
}

.theme-toggle {
 width: 8em;
 height: 2em;
 margin-top: 30px;
 margin-left: 30px;
}

.theme-toggle:hover {
    transform: scale(1.1);
    background-color: var(--shades-buttons);

}
