:root {

  --cards-bg: #ffffff;
  --bg-color: #fdf2f8;
  --line-light: #fce7f3;
  --line-accent: #ec4899;
  --btn-color: #ec4899;
  --footer-bg-color: #f9a8d4;
  --text-color-light: #ffffff;
  --nav-color: #ffffff;
  --shades-buttons: #f472b6;
  --shades-cards: #dbdbdb;
  --card-title-color: #1f2937;
  --shades-cards-hover: #353535;
  --text-color-description: #4b5563;
  --text-color-tags: #db2777;
  --bg-color-tags: #fce7f3;
  --text-color-dark: #9d174d;
  --text-color-darkest: #75053d;
  --bg-title: #ec4899;
  --p-color: black;

  /* Text */
  --font-family-main: Sour Gummy;
  --font-family-secondary: DynaPuff;

}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  cursor: url('/koi.png') 15 15, auto;
}




