:root.light {

  --cards-bg: #ffffff;
  --bg-color: #fdf2f8;
  --line-light: #fce7f3;
  --line-accent: #ec4899;
  --btn-color: #ec4899;
  --footer-bg-color: #f9a8d4;
  --text-color-light: #ffffff;
  --nav-color: #ffffff;
  --shades-buttons: #f472b6;
  --shades-cards: #dbdbdb;
  --card-title-color: #1f2937;
  --shades-cards-hover: #353535;
  --text-color-description: #4b5563;
  --text-color-tags: #db2777;
  --bg-color-tags: #fce7f3;
  --text-color-dark: #9d174d;
  --text-color-darkest: #75053d;
  --bg-title: #ec4899;
  --p-color: black;

  /* Text */
  --font-family-main: Sour Gummy;
  --font-family-secondary: DynaPuff;

}
:root.dark {
  /* Dark Theme */
    --cards-bg: #1f1f1f;
    --bg-color: #343434;
    --line-light: #4a4a4a;
    --line-accent: #5fcd05;
    --btn-color: #5fcd05;
    --footer-bg-color: #1e1e1e;
    --text-color-light: #ffffff;
    --nav-color: #ffffff;
    --shades-buttons: #4caf50;
    --shades-cards: #878181;
    --card-title-color: #ffffff;
    --shades-cards-hover: #4f4f4f;
    --text-color-description: #b0b0b0;
    --text-color-tags: #5fcd05;
    --bg-color-tags: #333333;
    --text-color-dark: #5fcd05;
    --text-color-darkest: #ffffff;
    --bg-title: #5fcd05;
    --p-color: white;
    /* Text */
      --font-family-main: Sour Gummy;
      --font-family-secondary: DynaPuff;
}

html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




