.card {
    width: 300px;
    height: 57vh;
    background-color: var(--cards-bg);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
}

.card-image-container {
    position: relative;
    height: 200px;
    width: 100%;
    overflow: hidden;
}

.card-image {
    display: block;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card:hover .card-image {
    transform: scale(1.05);
}

.card-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 200%;
    height: 100%;
    background: linear-gradient(to bottom,
            transparent,
           var(--shades-cards-hover) 50%,
            transparent);
    transform: rotate(45deg);
    animation: shine 3s infinite;
}

@keyframes shine {
    0% {
        transform: translateX(-50%) rotate(45deg);
    }

    100% {
        transform: translateX(100%) rotate(45deg);
    }
}

.card-content {
    padding: 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-title {
    font-size: 24px;
    font-weight: 600;
    color: var(--card-title-color);
    margin: 0 0 16px;
    position: relative;
    padding-bottom: 10px;
}

.card-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 3px;
    background-color: var(--line-accent);
    transition: width 0.3s ease;
}

.card:hover .card-title::after {
    width: 100px;
}

.card-description {
    font-size: 14px;
    color: var(--text-color-description);
    line-height: 1.6;
    margin-bottom: 20px;
}

.card-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 20px;
}

.card-tag {
    font-size: 12px;
    color: var(--text-color-tags);
    background-color: var(--bg-color-tags);
    padding: 4px 10px;
    border-radius: 20px;
    transition: all 0.3s ease;
    width: fit-content;
}

.card-content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.card-footer {
    border-top: 1px solid rgba(255, 192, 203, 0.5);
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes float {
    0%,
    100% {
        transform: translateY(0) rotate(0deg);
    }

    50% {
        transform: translateY(-5px) rotate(2deg);
    }
}

.card {
    animation: float 6s ease-in-out infinite;
}

.card-actions {
  display: flex;
  align-items: center;
  gap: 12px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}